N8N_EMAIL_MODE=smtp
N8N_SMTP_HOST=something.smtp.mailtrap.io
N8N_SMTP_PORT=123123
N8N_SMTP_USER=9393993938383
N8N_SMTP_PASS=12312312455554
N8N_SMTP_SSL=true

# You can select the sender name from the sender addresses. Example: "N8N contact@n8n.com"
N8N_SMTP_SENDER="n8n@example.com"

# Full path to your HTML email template. This overrides the default template for invite emails.
# N8N_UM_EMAIL_TEMPLATES_INVITE

# Full path to your HTML email template. This overrides the default template for password reset emails.
# N8N_UM_EMAIL_TEMPLATES_PWRESET

